
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
.raleway {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }
  /* shared styles */
  .main{
    max-width: 1440px;
    margin: 0 auto;
  }
  .display-flex{
    display: flex;
  }
  .display-grid{
    display: grid;
  }
.orange{
    color: #FEA301;
}
.sky-blue{
    color: #01ACFD;
}
.paste{
    color: #05D4DF;
}
.purple{
    color: #5D58EF;
}
.black{
    color: #111111;
}
.light-green{
    color: #95B226;
}
#link-1{
  color: #64C8FF;
  }
#link-2{
  color: #F0AA00;
}
#link-3{
  color:#8700FF;  
}
.bg{
   background-color: #F7F7F7;
}
.btn-primary{
  background-color: black;
  color: white;
  padding: 10px 47px;
  border: none;
  border-radius: 12px;
  font-weight: 700;
  font-size: 1.25rem;
}

.bg-image{
  background-image: url(../assets/bg.png);
  box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}



  



  /* header styles */



  /* navbar styles */
  .navbar{
    justify-content: space-between;
    align-items: center;
    }

  .navbar, .banner, .card-container{
    max-width: 1160px;
    margin: 0 auto;
  }
  .logo{
    align-items: center;
    
  }
  .brand{
    font-weight: 700;
    font-size: 2rem;
  }
  #hamburger{
    display: none;
    font-size: 24px;
  
    }
  
  .nav-button{
    font-weight: 600;
    font-size: 1.25rem;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    background-color: orange;
    color: white;
    
  }
  .nav-item{
    
    list-style: none;
    margin-right: 32px;
  }
  .nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
  }

  /* banner style */
  .banner{
    justify-content: center;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
    gap: 50px;
  }
  .banner-content{
    max-width: 640px;
    gap: 50px;
  }
  .banner-title{
    font-weight: 700;
    font-size: 3.5rem;
  }
  .banner-description{
    font-size: 1.25rem;
  }
  .banner-image{
    width: 100%;
  }

  /* card section related style */
  .school-category{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 80px; */
   
   
   
  }
  .section-title{
    font-weight: 700;
    font-size: 2.87rem;
    color: #000000;
    margin-top: 60px;
    margin-bottom: 0;
    
  }
  .card-container{
padding: 60px 0;
    column-gap: 28px;
  }
  .arrow{
    width: 130px;
    height: 60px;
    margin-bottom: 80px; 
    text-align: center;
    
  }
  .arrow-btn{
    font-size: 3rem;
  }
  .card{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 40px;
    border: .94px solid #FFFFFF;
    border-radius: 18.8px;
    max-width: 376px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  }
  .card-icon{
    width: 136px;
    height: 136px;
  }
  .crd-title{
    font-weight: 700;
    font-size: 1.54rem;
  }
  .card-description{
    font-weight: 500;
    font-size: .99rem;
    line-height: 28.3px;
    color: #808080;
  }
  .card-link{
    font-weight: 700;
    font-size: .94rem;
    text-decoration: none;
    line-height: 28.3px;
    
  }
  #card-1{
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  }
  #card-2{
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  }
  #card-3{  
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  }

  
  
  









  /* responsive media query */
  /* navbar and banner responsive in small device */
  @media screen and (max-width: 576px) {
   .banner{
    flex-direction: column-reverse;
    margin: 20px;
    margin-top: 0;
    gap: 0;

    }
    .banner-content{
      text-align: center;
     /* margin: 20px; */

    }
    .banner-title{
      font-size: 2rem;
    }
    .banner-description{
      font-weight: 500;
      font-size: .87rem;
    }
    .btn-primary{
      font-size: 1rem;
      padding: 6px 24px;
    }
    .nav-links, .brand, .nav-button {
      display: none;
    }
    .logo{
      flex-direction: column; 
    }
    .navbar{
      justify-content: space-between;
      border: .5px solid orange;
      padding: 12px 16px;
   
    }
    #hamburger{
      display: block;
    }
    /* card responsive */
  

  }

